/*.fix {
    position: fixed;
}*/
.project_panel {
    position: fixed;
}
.project_list {
    position: fixed;
    min-height: 81.5vh;
    max-height: 81.5vh;
    overflow-y: auto;
}
/*.table-fixed {
    min-height: 81.5vh;
    max-height: 81.5vh;
    overflow-y: scroll;
}*/

textarea.textarea-ticket-desc {
    height: 200px;
}

/*tr#header {
    display: block;
    width: 80ch;
}
td {
    position: relative;
    top: 25px;
    display: inline-block;
}*/