<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<div th:fragment="createTicketModal" id="createTicketModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" th:text="#{createTicketModal.title}"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form id="createTicketForm"
                              th:action="@{${'/project/' + selectedProject.id + '/page'+ currentpage + 1 +'/createticket'}}"
                              method="post"
                              role="form">
                            <div class="form-group">
                                <label th:text="#{label.ticket.subject}"></label>
                                <input th:name="subject" type="text" class="form-control" autofocus required>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.ticket.description}"></label>
                                <textarea class="form-control textarea-ticket-desc" th:name="description"
                                          required></textarea>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.ticket.priority}"></label>
                                <select th:name="priority" class="form-control">
                                    <option value="Critical" th:text="#{label.priority.critical}"></option>
                                    <option value="High" th:text="#{label.priority.high}"></option>
                                    <option selected value="Medium" th:text="#{label.priority.medium}"></option>
                                    <option value="Low" th:text="#{label.priority.low}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.attach}"></label>
                                <div>
                                    <label class="btn btn-default btn-file">
                                        [[#{button.browse}]] <input id="inputFile" type="file" style="display: none;">
                                    </label>
                                    <span id="fileNameSpan"></span>
                                </div>
                                <p id="fileSizeError" class="text-danger" hidden th:text="#{label.fileSizeError}"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submitNewTicketBtn" type="submit" form="createTicketForm" class="btn btn-primary"
                        th:text="#{button.ticket.create}">
                    Submit
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Close
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</html>