<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title th:text="#{label.admin.projects}"></title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            Тут будет админка
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>