<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title th:text="#{ticketsPage.title}">Tickets</title>
    <link th:href="@{/css/project_ticket.css}" rel="stylesheet" type="text/css"/>
    <script>
        function rowClicked(value) {
            location.href = "/ticket/" + value;
        }
    </script>
</head>
<body>
<header th:replace="fragments/header :: header"/>
<footer th:replace="fragments/footer :: footer"/>
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default col-md-4 col-lg-4 ">
            <div class="panel-heading">Panel heading</div>
            <div class="project_list list-group" >
                <a th:href="${project.id}" class="list-group-item" th:each="project: ${projects}" th:text="${project.name}"/>
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <table class="table">
                <tr>
                    <th th:text="#{label.ticket.subject}"/>
                    <th th:text="#{label.ticket.date}"/>
                    <th th:text="#{label.ticket.priority}"/>
                    <th th:text="#{label.ticket.status}"/>
                    <th th:text="#{label.ticket.assignee}"/>
                </tr>
                <tr th:onclick="'javascript:rowClicked(\'' + ${ticket.id} + '\');'" th:each="ticket: ${tickets}">
                    <td th:text="${ticket.subject}"/>
                    <td th:text="${ticket.datetimeAsString()}"/>
                    <td th:text="#{${'label.priority.'+ticket.priority.priority.toLowerCase()}}"/>
                    <td th:text="#{${'label.status.'+ticket.status.status.toLowerCase().replace(' ','_')}}"/>
                    <td th:text="${ticket.assignee != null ? ticket.assignee.name : ''}"/>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>