<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title th:text="#{ticketsPage.title}">Tickets</title>
    <link th:href="@{/css/project_ticket.css}" rel="stylesheet" type="text/css"/>

    <script th:src="@{/js/common_func.js}"></script>
    <script th:src="@{/js/project_ticket.js}"></script>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div th:replace="fragments/createTicketModal :: createTicketModal"></div>

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default col-md-4 col-lg-4 ">
            <div class="panel-heading">Panel heading</div>
            <div class="project_list list-group">
                <a th:href="@{${'/project/'+project.id+'/page1'}}" class="list-group-item"
                   th:each="project: ${projects}" th:text="${project.name}"></a>
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <div>
                <!--TODO: Вынести стили в цсс файл-->
                <span style="font-size: 26px; font-weight: bold;" th:text="${selectedProject.name}"></span>
                <!--TODO: Вместо текста можно поместить картинку. А можно и не помещать-->
                <button style="margin-top: 5px;" type="button" data-toggle="modal" data-target="#createTicketModal"
                        class="btn btn-default pull-right" th:text="#{button.createTicket}">Create ticket
                </button>
            </div>
            <div>
                <p th:text="${selectedProject.description}"></p>
            </div>
            <table id="ticketTable" class="table">
                <tr>
                    <th th:text="#{label.ticket.subject}"></th>
                    <th th:text="#{label.ticket.date}"></th>
                    <th th:text="#{label.ticket.priority}"></th>
                    <th th:text="#{label.ticket.status}"></th>
                    <th th:text="#{label.ticket.assignee}"></th>
                </tr>
                <tr th:onclick="'javascript:rowClicked(\'' + ${ticket.id} + '\');'" th:each="ticket: ${tickets}">
                    <td th:text="${ticket.subject}"></td>
                    <td th:text="${ticket.datetimeAsString()}"></td>
                    <td th:text="#{${'label.priority.'+ticket.priority.priority.toLowerCase()}}"></td>
                    <td th:text="#{${'label.status.'+ticket.status.status.toLowerCase().replace(' ','_')}}"></td>
                    <td th:text="${ticket.assignee != null ? ticket.assignee.name : ''}"></td>
                </tr>
            </table>
            <ul class="pager">
                <li><a th:href="${'page'+(currentpage).toString()}" th:text="#{button.page.prev}"></a></li>
                <li><a th:href="${'page'+(currentpage+2).toString()}" th:text="#{button.page.next}"></a></li>
            </ul>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>