<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title th:text="#{ticketsPage.title}">Tickets</title>
    <link th:href="@{/css/project_ticket.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/common_func.js}"></script>
    <script th:src="@{/js/project_ticket.js}"></script>
    <script type="text/javascript">
        function changePage(n_page) {

            $.ajax({
                type: 'POST',
                data: ({
                    page: n_page
                }),
                success: function (data) {
                    var pagecount='[[${pagecount}]]';
                    $('.rowTicket').remove();
                    if(n_page<pagecount) {
                        $('#nextItem').html(
                                '<button class="btn btn-default" onclick="changePage(' + (n_page + 1) + ')" id="nextBtn">[[#{button.page.next}]]</button>'
                        )
                    }
                    else {
                        $('#nextBtn').addClass("disabled");
                        $('#nextBtn').prop( "disabled", true );
                    }
                    if(n_page>0) {
                        $('#prevItem').html(
                                '<button class="btn btn-default" onclick="changePage(' + (n_page - 1) + ')" id="prevBtn">[[#{button.page.prev}]]</button>'
                        )
                    }
                    else {
                        $('#prevBtn').addClass("disabled");
                        $('#prevBtn').prop( "disabled", true );
                    }
                    data.forEach(function(item, i, arr) {
                        //alert(item['subject']);
                        $('#ticketsTable').append(
                                '<tr class="rowTicket" onclick="rowClicked('+item['id']+')">'+
                                    '<td>'+item['subject']+'</td>'+
                                    '<td>'+item['dateAsString']+'</td>'+
                                    '<td>'+item['priority']+'</td>>'+
                                    '<td>'+item['status']+'</td>'+
                                    '<td>'+item['assigneeName']+'</td>'+
                                '</tr>'
                        );
                    });

                }
            });
        }
    </script>
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div th:replace="fragments/createTicketModal :: createTicketModal"></div>
<div th:replace="fragments/filterModal :: filterModal"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-lg-2">
            <div class="project_list list-group">
                <a th:href="@{${'/project/'+project.id}}" class="list-group-item"
                   th:each="project: ${projects}" th:text="${project.name}"/>
            </div>
        </div>
        <div class="col-md-10 col-lg-10">
            <div>
                <!--TODO: Вынести стили в цсс файл-->
                <h3 style="font-size: 26px; font-weight: bold;" th:text="${selectedProject.name}"></h3>
                <!--TODO: Вместо текста можно поместить картинку. А можно и не помещать-->
                <button style="margin-top: 5px;" type="button" data-toggle="modal" data-target="#createTicketModal"
                        class="btn btn-default pull-right" th:text="#{button.createTicket}">Create ticket
                </button>
                <button style="margin-top: 5px;" type="button" data-toggle="modal" data-target="#filterModal"
                        class="btn btn-default pull-right">Filter
                </button>
            </div>
            <div>
                <p th:text="${selectedProject.description}"></p>
            </div>
                <table id="ticketsTable" class="table">
                        <tr id="header">
                            <th th:text="#{label.ticket.subject}"/>
                            <th th:text="#{label.ticket.date}"/>
                            <th th:text="#{label.ticket.priority}"/>
                            <th th:text="#{label.ticket.status}"/>
                            <th th:text="#{label.ticket.assignee}"/>
                        </tr>
                        <tr class="rowTicket" th:onclick="'javascript:rowClicked(\'' + ${ticket.id} + '\');'" th:each="ticket: ${tickets}">
                            <td th:text="${ticket.subject}"/>
                            <td th:text="${ticket.datetimeAsString()}"/>
                            <td th:text="#{${'label.priority.'+ticket.priority.priority.toLowerCase()}}"/>
                            <td th:text="#{${'label.status.'+ticket.status.status.toLowerCase().replace(' ','_')}}"/>
                            <td th:text="${ticket.assignee != null ? ticket.assignee.name : ''}"/>
                        </tr>
                </table>
            <ul class="pager">
                <li id="prevItem"><button class="btn btn-default" th:onclick="${'changePage('+(currentpage1)+')'}" id="prevBtn" th:text="#{button.page.prev}"></button></li>
                <li id="nextItem"><button class="btn btn-default" th:onclick="${'changePage('+(currentpage+1)+')'}" id="nextBtn" th:text="#{button.page.next}"></button></li>
                <!--h:href="${'page'+(currentpage+2).toString()}"-->
            </ul>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>