<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title th:text="#{registrationPage.title}"></title>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header th:replace="fragments/header :: header"/>
<div class="container">
    <th:block th:if="${userExistsError == true}">
        <div class="row">
            <div class="alert alert-danger col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong th:text="#{text.error} + ' '"></strong><span th:text="#{text.userExistsError}"></span>
            </div>
        </div>
    </th:block>
    <div class="row">
        <div class="div-default col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <form th:action="@{/registration}" method="post" role="form">
                <div class="form-group">
                    <label th:text="#{label.login}">Login</label>
                    <input name="login" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label th:text="#{label.password}">Pass</label>
                    <input name="password" class="form-control" type="password" required>
                </div>
                <div class="form-group">
                    <label th:text="#{label.username}">Name</label>
                    <input name="name" class="form-control" type="text" required>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-1">
                        <button type="submit" class="btn btn-primary btn-block" th:text="#{button.registration}">Submit
                        </button>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-5">
                        <a class="btn btn-default btn-block" th:href="@{/}"
                           th:text="#{button.cancel}"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"/>
</body>
</html>