<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link},~{::script})">
    <title th:text="${ticket.subject}">Ticket</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>[[${ticket.subject}]]
                <small th:text="${ticket.project.name}"></small>
            </h2>
            <h3 th:text="${ticket.owner.name+' в '+ticket.datetimeAsString()}">Имя и время</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label th:text="#{label.ticket.status}"></label>
            <select name="status" class="form-control" th:field="${ticket.status.status}"
                    th:if="${#authorization.expr('hasRole(''ROLE_Programmer'')')}">
                <option value="Fixed" th:text="#{label.status.fixed}"></option>
                <option value="In progress" th:text="#{label.status.in_progress}"></option>
                <option value="Confirmed" th:text="#{label.status.confirmed}"></option>
                <option value="Invalid" th:text="#{label.status.invalid}"></option>
                <option value="New" th:text="#{label.status.new}"></option>
            </select>
            <p class="form-control" th:if="${#authorization.expr('!hasRole(''ROLE_Programmer'')')}"
               th:text="#{${'label.status.'+ticket.status.status.toLowerCase().replace(' ','_')}}"></p>
        </div>
        <div class="col-md-4 form-group">
            <label th:text="#{label.ticket.priority}"></label>
            <select name="priority" class="form-control" th:field="${ticket.priority.priority}"
                    th:if="${#authorization.expr('hasRole(''ROLE_Programmer'')')}">
                <option value="Critical" th:text="#{label.priority.critical}"></option>
                <option value="High" th:text="#{label.priority.high}"></option>
                <option value="Medium" th:text="#{label.priority.medium}"></option>
                <option value="Low" th:text="#{label.priority.low}"></option>
            </select>
            <p class="form-control" th:if="${#authorization.expr('!hasRole(''ROLE_Programmer'')')}"
               th:text="#{${'label.priority.'+ticket.priority.priority.toLowerCase()}}"></p>
        </div>
        <div class="col-md-4 form-group">
            <label th:text="#{label.ticket.assignee}">Исполнитель</label>
            <p class="form-control"
               th:text="${ticket.assignee != null ? ticket.assignee.name : ''}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p th:text="${ticket.description != null ? ticket.description : ''}"
               class="lead text-justify"></p>
        </div>
    </div>
    <div id="comments">
        <div class="row" th:each="comment : ${comments}">
            <div class="col-md-12">
                <blockquote class="blockquote">
                    <p class="m-b-0" th:text="${comment.text}"></p>
                    <footer class="blockquote-footer" th:text="${comment.user.name} + ' ' +
                    #{label.comment.at_time} + ' ' + ${comment.datetimeAsString()}"></footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <form method="post" role="form">
                    <label th:text="#{label.comment.add}"></label>
                    <textarea class="form-control comment" th:name="comment"
                              required></textarea>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" th:text="#{label.comment.submit}">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script type="text/javascript">
    $('form').on('submit', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            data: {text: $('textarea').val()},
            success: function (comment) {
                var text = comment['text'];
                var username = comment['username'];
                var datetime = comment['datetime'];
                var at = '[[#{label.comment.at_time}]]';
                var footer = username + ' ' + at + ' ' + datetime;
                $('form').trigger('reset');

                $('#comments').append(
                        '<div class="row">' +
                        '<div class="col-md-12">' +
                        '<blockquote class="blockquote">' +
                        '<p class="m-b-0">' + text + '</p>' +
                        '<footer class="blockquote-footer">' + footer + '</footer>' +
                        '</blockquote>' +
                        '</div>' +
                        '</div>')
            }
        });
    });
</script>
</body>
</html>