<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link},~{::script})">
    <title th:text="${ticket.subject}">Ticket</title>
</head>
<body>
<header th:replace="fragments/header :: header"/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${ticket.project.name}">Название проекта</h1>
            <h2 th:text="${ticket.subject}">Тема</h2>
            <h3 th:text="${ticket.owner.name+' в '+ticket.datetimeAsString()}">Имя и время</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label th:text="#{label.ticket.status}"></label>
            <select name="status" class="form-control" th:field="${ticket.status.status}">
                <option value="Fixed" th:text="#{label.status.fixed}"></option>
                <option value="In progress" th:text="#{label.status.in_progress}"></option>
                <option value="Confirmed" th:text="#{label.status.confirmed}"></option>
                <option value="Invalid" th:text="#{label.status.invalid}"></option>
                <option value="New" th:text="#{label.status.new}"></option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label th:text="#{label.ticket.priority}"></label>
            <select name="priority" class="form-control" th:field="${ticket.priority.priority}">
                <option value="Critical" th:text="#{label.priority.critical}"></option>
                <option value="High" th:text="#{label.priority.high}"></option>
                <option value="Medium" th:text="#{label.priority.medium}"></option>
                <option value="Low" th:text="#{label.priority.low}"></option>
            </select>
        </div>
        <div class="col-md-6 form-group">
            <label th:text="#{label.ticket.assignee}">Исполнитель</label>
            <input type="text" class="form-control"
                   th:value="${ticket.assignee != null ? ticket.assignee.name : ''}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p th:text="${ticket.description != null ? ticket.description : ''}"
               class="lead"/>
        </div>
    </div>
    <div class="row" th:each="comment : ${comments}">
        <div class="col-md-12">
            <blockquote class="blockquote">
                <p class="m-b-0" th:text="${comment.text}"/>
                <footer class="blockquote-footer" th:text="${comment.user.name}"/>
            </blockquote>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"/>
</body>
</html>